{% extends 'base.html' %}

{% load static %}
{% block body_block %} 

<!-- Start Popup Mobile Menu  -->
    <div class="d-block d-xl-none">
        <div class="tmp-popup-mobile-menu">
            <div class="inner">
                <div class="header-top">
                    <div class="logo">
                        <a href="index.html" class="logo-area">
                            <img class="logo-dark" src="{% static 'assets/images/logo/logo-blue.svg' %}" alt="logo">
                            <img class="logo-white" src="{%  static 'assets/images/logo/white-logo-reeni.png' %}" alt="logo">
                        </a>
                    </div>
                    <div class="close-menu">
                        <button class="close-button tmp-round-action-btn">
                            <i class="fa-sharp fa-light fa-xmark"></i>
                        </button>
                    </div>
                </div>

                <ul class="tmp-mainmenu onepagenav-click">
                    <li><a class="smoth-animation" href="#home">Home</a></li>
                    <li><a class="smoth-animation" href="#service">Services</a></li>
                    <li><a class="smoth-animation" href="#portfolio">Portfolio</a></li>
                    <li><a class="smoth-animation" href="#resume">Resume</a></li>
                    <li><a class="smoth-animation" href="#pricing">Pricing</a></li>
                    <li><a class="smoth-animation" href="#blog">Blog</a></li>
                    <li><a class="smoth-animation" href="#contacts">Contact</a></li>
                </ul>

                <!-- social sharea area -->
                <div class="social-wrapper mt--40">
                    <span class="subtitle">find with me</span>
                    <div class="social-link">
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    </div>
                </div>
                <!-- end -->

            </div>
        </div>
    </div>
    <!-- End Popup Mobile Menu  -->

    <!-- tmp banner area start -->
    <div class="tmp-banner-one-area model-style-banner with-instructor style-2" id="home" data-black-overlay="2">
        <div class="container">
            <div class="banner-one-main-wrapper">
                <div class="row align-items-center">
                    <div class="col-lg-12 ">
                        <div class="inner banner-model-15">
                            <h1 class="title tmp-fade-in">
                                Julian Tobias
                            </h1>
                            <p class="disc tmp-fade-in">
                                German Super Model, Influencer & Youtuber</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-area-wrapper-varticle">
            <ul>
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            </ul>
        </div>
        <div class="hero-bg-video">
            <video autoplay="" muted="" loop="" id="myVideo">
                <source src="{% static 'assets/images/video/model.mp4' %}" type="video/mp4">
            </video>
        </div>
    </div>
    <!-- tmp banner area end -->

        <!-- tmp text para start -->
    <div class="about-content-area">
        <div class="container tmp-section-gapTop">
            <div class="text-para-doc-wrap">
                <h2 class="text-para-documents tmp-scroll-trigger tmp-fade-in inv-title-animation-wrap animation-order-1">A personal
                    <span>portfolio</span> is a collection of your work, that is aa
                    go achievements, and skills that highlights <span>web design</span> in your is abilities and
                    professional growth. It serves as A personal to a portfolio in <span>since 2009</span> a collection
                    of
                    your work
                </h2>
                <div class="right-bg-text-para">
                    <img src="{% static 'assets/images/banner/right-bg-text-para-doc.png' %}" alt="">
                </div>
                <div class="left-bg-text-para">
                    <img src="{% static 'assets/images/banner/left-bg-text-para-doc.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- tmp text para end -->

    <!-- tmp About Me Start -->
    <section class="about-us-area tmp-section-gapTop" id="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-us-left-content-wrap bg-vactor-one">
                        <div class="years-of-experience-card tmp-scroll-trigger tmp-fade-in animation-order-1">
                            <h2 class="counter card-title"><span class="odometer" data-count="10">00</span>+
                            </h2>
                            <p class="card-para">years of experience</p>
                        </div>
                        <div class="design-card tmp-scroll-trigger tmp-fade-in animation-order-2">
                            <div class="design-card-img">
                                <div class="icon"><i class="fa-sharp fa-thin fa-lock"></i></div>
                            </div>
                            <div class="card-info">
                                <h3 class="card-title">Ui/Ux Design</h3>
                                <p class="card-para">241 Projects</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-us-right-content-wrap">
                        <div class="section-head text-align-left mb--50">
                            <div class="section-sub-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                                <span class="subtitle">About Me</span>
                            </div>
                            <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">Boost
                                Business Strategic <br> Solutions with Us</h2>
                            <p class="description tmp-scroll-trigger tmp-fade-in animation-order-3">Business consulting
                                consultants provide expert advice and guida
                                businesses to help them improve their performance, efficiency, and organizational</p>
                        </div>
                        <div class="about-us-section-card row g-5">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="about-us-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-4">
                                    <div class="card-head">
                                        <div class="logo-img">
                                            <img src="{% static 'assets/images/about/logo-1.svg' %}" alt="logo">
                                        </div>
                                        <h3 class="card-title">Business Solutions</h3>
                                    </div>
                                    <p class="card-para">Each one showcases my approach and dedication to detail, creativity
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="about-us-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-5">
                                    <div class="card-head">
                                        <div class="logo-img">
                                            <img src="{% static 'assets/images/about/logo-2.svg' %}" alt="logo">
                                        </div>
                                        <h3 class="card-title">Profit Partners</h3>
                                    </div>
                                    <p class="card-para">Business consulting consul us to a provide expert advice
                                        businesses
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="about-btn mt--40 tmp-scroll-trigger tmp-fade-in animation-order-6">
                            <a class="tmp-btn hover-icon-reverse radius-round" href="about.html">
                                <span class="icon-reverse-wrapper">
                        <span class="btn-text">Read More About Me</span>
                                <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- tmp About Me end -->

<!-- section-title-for-header -->
    <div class="section-title-brand-area  tmp-section-gapTop">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-head mb--50">
                        <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                            <span class="subtitle">Brand I have Work With</span>
                        </div>
                        <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">You Can Find Me On
                        </h2>
                        <p class="description section-sm tmp-scroll-trigger tmp-fade-in animation-order-3"> Business consulting
                            consultants provide expert advice and guida
                            businesses to help them improve their performance, efficiency, and organizational </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section-title-for-header end -->

       <div class="our-supported-company-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                    <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <img src="{% static 'assets/images/our-supported-company/company-logo-1.svg' %}" alt="Reeni - Personal Portfolio HTML Template">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                    <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-2">
                        <img src="{% static 'assets/images/our-supported-company/company-logo-2.svg' %}" alt="Reeni - Personal Portfolio HTML Template">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                    <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-3">
                        <img src="{% static 'assets/images/our-supported-company/company-logo-3.svg' %}" alt="Reeni - Personal Portfolio HTML Template">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                    <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-4">
                        <img src="{% static 'assets/images/our-supported-company/company-logo-4.svg' %}" alt="Reeni - Personal Portfolio HTML Template">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                    <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-5">
                        <img src="{% static 'assets/images/our-supported-company/company-logo-5.svg' %}" alt="Reeni - Personal Portfolio HTML Template">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                    <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-6">
                        <img src="{% static 'assets/images/our-supported-company/company-logo-6.svg' %}" alt="Reeni - Personal Portfolio HTML Template">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                    <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-7">
                        <img src="{% static 'assets/images/our-supported-company/company-logo-7.svg' %}" alt="Reeni - Personal Portfolio HTML Template">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                    <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-8">
                        <img src="{% static 'assets/images/our-supported-company/company-logo-8.svg' %}" alt="Reeni - Personal Portfolio HTML Template">
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- Tpm Latest Service Area Start -->
    <section class="latest-service-area tmp-section-gapTop" id="service">
        <div class="container">
            <div class="section-head mb--50">
                <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                    <span class="subtitle">Latest Service</span>
                </div>
                <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">Inspiring The World One
                    <br> Project
                </h2>
                <p class="description section-sm tmp-scroll-trigger tmp-fade-in animation-order-3"> Business consulting
                    consultants provide expert advice and guida
                    businesses to help them improve their performance, efficiency, and organizational </p>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="service-card-v2 tmponhover tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <h2 class="service-card-num"><span>01.</span>A Portfolio of Creativity</h2>
                        <p class="service-para">Business consulting consultants provide expert advice and guida the a
                            businesses to help theme their performance efficiency</p>
                    </div>
                    <div class="service-card-v2 tmponhover tmp-scroll-trigger tmp-fade-in animation-order-2">
                        <h2 class="service-card-num"><span>02.</span>My Portfolio of Innovation</h2>
                        <p class="service-para">My work is driven by the belief that thoughtful design and strategic planning can empower brands, transform businesses</p>
                    </div>
                    <div class="service-card-v2 tmponhover tmp-scroll-trigger tmp-fade-in animation-order-3">
                        <h2 class="service-card-num"><span>03.</span>A Showcase of My Projects</h2>
                        <p class="service-para">In this portfolio, you’ll find a curated selection of projects that highlight my skills in [Main Areas, e.g., responsive web design</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="service-card-user-image">
                        <img class="tmp-scroll-trigger tmp-zoom-in animation-order-1" src="{% static 'assets/images/experiences/02.webp' %}" alt="latest-user-image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Tpm Latest Service Area End -->

    <!-- Tpm Latest Portfolio Start -->
    <section class="tmp-latest-portfolio tmp-section-gapTop">
        <div class="container">
            {% for i in service %}
            <div class="header-top-inner">
                <div class="section-head text-align-left">
                    <div class="section-sub-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <span class="subtitle">{{ i.title|safe }}</span>
                    </div>
                    <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">{{ i.description|safe }}</h2>
                </div>
                <div class="discription-area tmp-scroll-trigger tmp-fade-in animation-order-3">
                    <p class="description">{{ i.note|safe }}
                    </p>
                </div>
            </div>
            {% endfor %}
            <div class="row g-5">
                {% for i in service1 %}
                <div class="col-lg-6 col-md-6 col-12">
                    
                    <div class="latest-portfolio-card-style-two tmponhover tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <div class="portfoli-card-img">
                            <div class="img-box v2">
                                <a href="project-details.html">
                                    <img class="img-primary hidden-on-mobile" src="{{ i.image.url }}" alt="Blog Thumbnail">
                                    <img class="img-secondary" src="{{ i.image.url }}" alt="BLog Thumbnail">
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-card-content-wrap">
                            <div class="content-left">
                                <h3 class="portfolio-card-title"><a href="project-details.html">{{ i.title|safe }}</a>
                                </h3>
                                <div class="tag-items">
                                    <ul>
                                        <li>
                                            <a href="#" class="tag-item">Shirt</a>
                                        </li>
                                        <li>
                                            <a href="#" class="tag-item">Brand</a>
                                        </li>
                                        <li>
                                            <a href="#" class="tag-item">Sell</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tmp-button-here">
                                <a class="tmp-btn hover-icon-reverse radius-round btn-border btn-md" href="project-details.html">
                                    <span class="icon-reverse-wrapper">
                        <span class="btn-text">View Details</span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>

                        </div>
                    </div>
                    
                </div>
                {% endfor %}
                <!-- <div class="col-lg-6 col-md-6 col-12">
                    <div class="latest-portfolio-card-style-two tmponhover tmp-scroll-trigger tmp-fade-in animation-order-2">
                        <div class="portfoli-card-img">
                            <div class="img-box v2">
                                <a href="project-details.html">
                                    <img class="img-primary hidden-on-mobile" src="{% static 'assets/images/portfolio/02.webp' %}" alt="Blog Thumbnail">
                                    <img class="img-secondary" src="{% static 'assets/images/portfolio/02.webp' %}" alt="BLog Thumbnail">
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-card-content-wrap">
                            <div class="content-left">
                                <h3 class="portfolio-card-title"><a href="project-details.html">Brand Promoting</a>
                                </h3>
                                <div class="tag-items">
                                    <ul>
                                        <li>
                                            <a href="#" class="tag-item">Brand</a>
                                        </li>
                                        <li>
                                            <a href="#" class="tag-item">Promot</a>
                                        </li>
                                        <li>
                                            <a href="#" class="tag-item">Model</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tmp-button-here">
                                <a class="tmp-btn hover-icon-reverse radius-round btn-border btn-md" href="project-details.html">
                                    <span class="icon-reverse-wrapper">
                        <span class="btn-text">View Details</span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="latest-portfolio-card-style-two tmponhover tmp-scroll-trigger tmp-fade-in animation-order-3">
                        <div class="portfoli-card-img">
                            <div class="img-box v2">
                                <a href="project-details.html">
                                    <img class="img-primary hidden-on-mobile" src="{% static 'assets/images/portfolio/03.webp' %}" alt="Blog Thumbnail">
                                    <img class="img-secondary" src="{% static 'assets/images/portfolio/03.webp' %}" alt="BLog Thumbnail">
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-card-content-wrap">
                            <div class="content-left">
                                <h3 class="portfolio-card-title"><a href="project-details.html">Product Marketing</a>
                                </h3>
                                <div class="tag-items">
                                    <ul>
                                        <li>
                                            <a href="#" class="tag-item">Shirt</a>
                                        </li>
                                        <li>
                                            <a href="#" class="tag-item">Brand</a>
                                        </li>
                                        <li>
                                            <a href="#" class="tag-item">Sell</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tmp-button-here">
                                <a class="tmp-btn hover-icon-reverse radius-round btn-border btn-md" href="project-details.html">
                                    <span class="icon-reverse-wrapper">
                        <span class="btn-text">View Details</span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="latest-portfolio-card-style-two tmponhover tmp-scroll-trigger tmp-fade-in animation-order-4">
                        <div class="portfoli-card-img">
                            <div class="img-box v2">
                                <a href="project-details.html">
                                    <img class="img-primary hidden-on-mobile" src="{% static 'assets/images/portfolio/04.webp' %}" alt="Blog Thumbnail">
                                    <img class="img-secondary col-md-6" src="{% static 'assets/images/portfolio/04.webp' %}" alt="BLog Thumbnail">
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-card-content-wrap">
                            <div class="content-left">
                                <h3 class="portfolio-card-title"><a href="project-details.html">Dashboard design</a>
                                </h3>
                                <div class="tag-items">
                                    <ul>
                                        <li>
                                            <a href="#" class="tag-item">Adobe</a>
                                        </li>
                                        <li>
                                            <a href="#" class="tag-item">Webflow</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tmp-button-here">
                                <a class="tmp-btn hover-icon-reverse radius-round btn-border btn-md" href="project-details.html">
                                    <span class="icon-reverse-wrapper">
                        <span class="btn-text">View Design</span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="see-all-btn-wrap text-center mt--60">
                <a class="tmp-btn hover-icon-reverse radius-round" href="#">
                    <span class="icon-reverse-wrapper">
                        <span class="btn-text">View All Portfolio</span>
                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                    </span>
                </a>
            </div>
        </div>
    </section>
    <!-- Tpm Latest Portfolio End -->

   <!-- Tpm Education Experience Area Start -->
    <section class="education-experience tmp-section-gapTop" id="resume">
        <div class="container">
            <div class="section-head mb--50">
                <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                    <span class="subtitle">Education & Experience</span>
                </div>
                <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">Empowering Creativity
                    <br> through
                </h2>
                <p class="description section-sm tmp-scroll-trigger tmp-fade-in animation-order-3">Business consulting
                    consultants provide expert advice and guida
                    businesses to help them improve their performance, efficiency, and organizational</p>
            </div>
            <h2 class="custom-title mb-32 tmp-scroll-trigger tmp-fade-in animation-order-1">Education <span><img src="{% static 'assets/images/custom-line/custom-line.png' %}" alt="custom-line"></span>
            </h2>
            <div class="row g-5">
                <div class="col-lg-6 col-sm-6">
                    <div class="education-experience-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <h4 class="edu-sub-title">Trainer Marketing</h4>
                        <h2 class="edu-title">2005-2009</h2>
                        <p class="edu-para">A personal portfolio is a curated collection of an individual's professional
                            work, showcasing their skills, experience A personal portfolio.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="education-experience-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-2">
                        <h4 class="edu-sub-title">Assistant Director</h4>
                        <h2 class="edu-title">2010-2014</h2>
                        <p class="edu-para">Each project here showcases my commitment to excellence and adaptability, tailored to meet each client’s unique needs.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="education-experience-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-3">
                        <h4 class="edu-sub-title">Design Assistant</h4>
                        <h2 class="edu-title">2008-2012</h2>
                        <p class="edu-para">I’ve had the privilege of working with various clients, from startups to established companies, helping bring their visions to life.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="education-experience-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-4">
                        <h4 class="edu-sub-title">Design Assistant</h4>
                        <h2 class="edu-title">2008-2012</h2>
                        <p class="edu-para">Each project here showcases my commitment to excellence and adaptability, tailored to meet each client’s unique needs a personal.</p>
                    </div>
                </div>
            </div>
            <div class="experiences-wrapper">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="experiences-wrap-left-content">
                            <h2 class="custom-title mb-32 tmp-scroll-trigger tmp-fade-in animation-order-1">Experiences <span><img src="{% static 'assets/images/custom-line/custom-line.png' %}" alt="custom-line"></span></h2>

                            <div class="experience-content tmp-scroll-trigger tmp-fade-in animation-order-1">
                                <p class="ex-subtitle">experience</p>
                                <h2 class="ex-name">Soft Tech (2 Years)</h2>
                                <h3 class="ex-title">UI/UX Designer</h3>
                                <p class="ex-para">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                    desi dolore eu fugiat nulla pariatu Duis aute irure.</p>
                            </div>
                            <div class="experience-content tmp-scroll-trigger tmp-fade-in animation-order-2">
                                <p class="ex-subtitle">experience</p>
                                <h2 class="ex-name">ModernTech (3 Years)</h2>
                                <h3 class="ex-title">App Developer</h3>
                                <p class="ex-para">In this portfolio, you’ll find a curated selection of projects that highlight my skills in [Main Areas, e.g., responsive web design.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="experiences-wrap-right-content">
                            <img class="tmp-scroll-trigger tmp-zoom-in animation-order-1" src="assets/images/experiences/01.webp" alt="expert-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Tpm Education Experience Area End -->

        <!-- Tpm Blog and news Area Start -->
    <section class="blog-and-news-are tmp-section-gap" id="blog">
        <div class="container">
            {% for i in blog %}
            <div class="section-head mb--60"> 
                <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                    <span class="subtitle">{{ i.title|safe }}</span>
                </div>
                <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">{{ i.description|safe }}</h2>
            </div>
           {% endfor %}
            <div class="row">
                {% for i in blog_model %}
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog-card tmp-hover-link image-box-hover tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <div class="img-box">
                            <a href="blog-details.html">
                                <img class="w-100" src="{{ i.image.url }}" alt="Blog Thumbnail">
                            </a>
                            <ul class="blog-tags">
                                <li><span class="tag-icon"><i class="fa-regular fa-user"></i></span>Mesbah</li>
                                <li><span class="tag-icon"><i class="fa-solid fa-calendar-days"></i></span>April 10</li>
                            </ul>
                        </div>
                        <div class="blog-content-wrap">
                            <h3 class="blog-title"><a class="link" href="blog-details.html">Inspiring the World, One
                                    Project at a
                                    Time for the
                                    man</a></h3>
                            <div class="more-btn tmp-link-animation">
                                <a href="blog-details.html" class="read-more-btn">Read More <span class="read-more-icon"><i class="fa-solid fa-angle-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog-card tmp-hover-link image-box-hover tmp-scroll-trigger tmp-fade-in animation-order-2">
                        <div class="img-box">
                            <a href="blog-details.html">
                                <img class="w-100" src="{% static 'assets/images/blog/blog-img-2.jpg' %}" alt="Blog Thumbnail">
                            </a>
                            <ul class="blog-tags">
                                <li><span class="tag-icon"><i class="fa-regular fa-user"></i></span>Mesbah</li>
                                <li><span class="tag-icon"><i class="fa-solid fa-calendar-days"></i></span>April 10</li>
                            </ul>
                        </div>
                        <div class="blog-content-wrap">
                            <h3 class="blog-title"><a class="link" href="blog-details.html">Let’s bring your ideas to life! Contact me, and let’s</a></h3>
                            <div class="more-btn tmp-link-animation">
                                <a href="blog-details.html" class="read-more-btn">Read More <span class="read-more-icon"><i class="fa-solid fa-angle-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog-card tmp-hover-link image-box-hover tmp-scroll-trigger tmp-fade-in animation-order-3">
                        <div class="img-box">
                            <a href="blog-details.html">
                                <img class="w-100" src="{% static 'assets/images/blog/blog-img-3.jpg' %}" alt="Blog Thumbnail">
                            </a>
                            <ul class="blog-tags">
                                <li><span class="tag-icon"><i class="fa-regular fa-user"></i></span>Mesbah</li>
                                <li><span class="tag-icon"><i class="fa-solid fa-calendar-days"></i></span>April 10</li>
                            </ul>
                        </div>
                        <div class="blog-content-wrap">
                            <h3 class="blog-title"><a class="link" href="blog-details.html">Each one showcases my approach and dedication man</a></h3>
                            <div class="more-btn tmp-link-animation">
                                <a href="blog-details.html" class="read-more-btn">Read More <span class="read-more-icon"><i class="fa-solid fa-angle-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <!-- Tpm Blog and news Area End -->

{% endblock %}
